.modal-x {
  --zindex-modal: 1000;
  --zindex-deep: 900;
  --bg-modal: white;
  transition: 0.4s ease;
  transition-property: opacity, transform, visibility;
  background: var(--bg-modal);
  position: fixed;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  will-change: trasform;
  z-index: var(--zindex-modal);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 60px;
}
.modal-x[data-position=center] {
  width: 500px;
  height: 500px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  transform: translateY(30px);
}
.modal-x[data-position=right] {
  width: 600px;
  height: 100vh;
  right: 0;
  top: 0;
  transform: translateX(100%);
  border-left: 1px solid #0000001c;
}
.modal-x[data-position=left] {
  width: 600px;
  height: 100vh;
  left: 0;
  top: 0;
  transform: translateX(-100%);
  border-right: 1px solid #0000001c;
}
.modal-x[data-position=bottom] {
  width: 98vw;
  height: 400px;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
  transform: translateY(100%);
  border: 1px solid #0000001c;
  border-bottom: initial;
  border-radius: 8px 8px 0 0;
}
.modal-x[data-position=top] {
  width: 98vw;
  height: 400px;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 0;
  transform: translateY(100%);
  border: 1px solid #0000001c;
  border-top: initial;
  border-radius: 0 0 8px 8px;
}
.modal-x .modal--content {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 0.3s ease;
  transition-property: opacity, transform, visibility;
  max-height: 0px;
  overflow: hidden;
  transform: translateX(20px);
}
.modal-x .modal--content.active {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  max-height: initial;
  transform: translateX(0);
}

.modal-x--deep {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -999999;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, background 0.2s ease-in-out;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
}

.modal-x--deep.active {
  z-index: var(--zindex-deep);
  background: rgba(0, 0, 0, 0.3);
  cursor: url(http://www.javascriptkit.com/dhtmltutors/cursor-hand.gif), auto;
  pointer-events: initial;
}

.modal-x.active {
  transform: translateY(0);
  pointer-events: all;
  opacity: 1;
  visibility: visible;
}
.modal-x.active[data-position=center] {
  transform: translateY(0);
}
.modal-x.active[data-position=right], .modal-x.active[data-position=left] {
  transform: translateX(0);
}
.modal-x.active[data-position=bottom] {
  transform: translateY(0);
}

.modal-x {
  background: #9fa5b6;
}
.modal-x.active {
  background: #9fa5b6;
}

.modal {
  --zindex-modal: 1000;
  --zindex-deep: 900;
  --bg-modal: white;
  transition: 0.4s ease;
  transition-property: opacity, transform, visibility;
  background: var(--bg-modal);
  position: fixed;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  will-change: trasform;
  z-index: var(--zindex-modal);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 60px;
}
.modal[data-position=center] {
  width: 500px;
  height: 500px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  transform: translateY(30px);
}
.modal[data-position=right] {
  width: 600px;
  height: 100vh;
  right: 0;
  top: 0;
  transform: translateX(100%);
  border-left: 1px solid #0000001c;
}
.modal[data-position=left] {
  width: 600px;
  height: 100vh;
  left: 0;
  top: 0;
  transform: translateX(-100%);
  border-right: 1px solid #0000001c;
}
.modal[data-position=bottom] {
  width: 98vw;
  height: 400px;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
  transform: translateY(100%);
  border: 1px solid #0000001c;
  border-bottom: initial;
  border-radius: 8px 8px 0 0;
}
.modal[data-position=top] {
  width: 98vw;
  height: 400px;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 0;
  transform: translateY(100%);
  border: 1px solid #0000001c;
  border-top: initial;
  border-radius: 0 0 8px 8px;
}
.modal .modal--content {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 0.3s ease;
  transition-property: opacity, transform, visibility;
  max-height: 0px;
  overflow: hidden;
  transform: translateX(20px);
}
.modal .modal--content.active {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  max-height: initial;
  transform: translateX(0);
}

.modal--deep {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -999999;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, background 0.2s ease-in-out;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
}

.modal--deep.active {
  z-index: var(--zindex-deep);
  background: rgba(0, 0, 0, 0.3);
  cursor: url(http://www.javascriptkit.com/dhtmltutors/cursor-hand.gif), auto;
  pointer-events: initial;
}

.modal.active {
  transform: translateY(0);
  pointer-events: all;
  opacity: 1;
  visibility: visible;
}
.modal.active[data-position=center] {
  transform: translateY(0);
}
.modal.active[data-position=right], .modal.active[data-position=left] {
  transform: translateX(0);
}
.modal.active[data-position=bottom] {
  transform: translateY(0);
}

.modal-x2 {
  --zindex-modal: 1000;
  --zindex-deep: 900;
  --bg-modal: white;
  transition: 0.4s ease;
  transition-property: opacity, transform, visibility;
  background: var(--bg-modal);
  position: fixed;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  will-change: trasform;
  z-index: var(--zindex-modal);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 60px;
}
.modal-x2[data-position=center] {
  width: 500px;
  height: 500px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  transform: translateY(30px);
}
.modal-x2[data-position=right] {
  width: 600px;
  height: 100vh;
  right: 0;
  top: 0;
  transform: translateX(100%);
  border-left: 1px solid #0000001c;
}
.modal-x2[data-position=left] {
  width: 600px;
  height: 100vh;
  left: 0;
  top: 0;
  transform: translateX(-100%);
  border-right: 1px solid #0000001c;
}
.modal-x2[data-position=bottom] {
  width: 98vw;
  height: 400px;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
  transform: translateY(100%);
  border: 1px solid #0000001c;
  border-bottom: initial;
  border-radius: 8px 8px 0 0;
}
.modal-x2[data-position=top] {
  width: 98vw;
  height: 400px;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 0;
  transform: translateY(100%);
  border: 1px solid #0000001c;
  border-top: initial;
  border-radius: 0 0 8px 8px;
}
.modal-x2 .modal--content {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 0.3s ease;
  transition-property: opacity, transform, visibility;
  max-height: 0px;
  overflow: hidden;
  transform: translateX(20px);
}
.modal-x2 .modal--content.active {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  max-height: initial;
  transform: translateX(0);
}

.modal-x2--deep {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -999999;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, background 0.2s ease-in-out;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
}

.modal-x2--deep.active {
  z-index: var(--zindex-deep);
  background: rgba(0, 0, 0, 0.3);
  cursor: url(http://www.javascriptkit.com/dhtmltutors/cursor-hand.gif), auto;
  pointer-events: initial;
}

.modal-x2.active {
  transform: translateY(0);
  pointer-events: all;
  opacity: 1;
  visibility: visible;
}
.modal-x2.active[data-position=center] {
  transform: translateY(0);
}
.modal-x2.active[data-position=right], .modal-x2.active[data-position=left] {
  transform: translateX(0);
}
.modal-x2.active[data-position=bottom] {
  transform: translateY(0);
}

.modal-x3 {
  --zindex-modal: 1000;
  --zindex-deep: 900;
  --bg-modal: white;
  transition: 0.4s ease;
  transition-property: opacity, transform, visibility;
  background: var(--bg-modal);
  position: fixed;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  will-change: trasform;
  z-index: var(--zindex-modal);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 60px;
}
.modal-x3[data-position=center] {
  width: 500px;
  height: 500px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  transform: translateY(30px);
}
.modal-x3[data-position=right] {
  width: 600px;
  height: 100vh;
  right: 0;
  top: 0;
  transform: translateX(100%);
  border-left: 1px solid #0000001c;
}
.modal-x3[data-position=left] {
  width: 600px;
  height: 100vh;
  left: 0;
  top: 0;
  transform: translateX(-100%);
  border-right: 1px solid #0000001c;
}
.modal-x3[data-position=bottom] {
  width: 98vw;
  height: 400px;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
  transform: translateY(100%);
  border: 1px solid #0000001c;
  border-bottom: initial;
  border-radius: 8px 8px 0 0;
}
.modal-x3[data-position=top] {
  width: 98vw;
  height: 400px;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 0;
  transform: translateY(100%);
  border: 1px solid #0000001c;
  border-top: initial;
  border-radius: 0 0 8px 8px;
}
.modal-x3 .modal--content {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 0.3s ease;
  transition-property: opacity, transform, visibility;
  max-height: 0px;
  overflow: hidden;
  transform: translateX(20px);
}
.modal-x3 .modal--content.active {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  max-height: initial;
  transform: translateX(0);
}

.modal-x3--deep {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -999999;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, background 0.2s ease-in-out;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
}

.modal-x3--deep.active {
  z-index: var(--zindex-deep);
  background: rgba(0, 0, 0, 0.3);
  cursor: url(http://www.javascriptkit.com/dhtmltutors/cursor-hand.gif), auto;
  pointer-events: initial;
}

.modal-x3.active {
  transform: translateY(0);
  pointer-events: all;
  opacity: 1;
  visibility: visible;
}
.modal-x3.active[data-position=center] {
  transform: translateY(0);
}
.modal-x3.active[data-position=right], .modal-x3.active[data-position=left] {
  transform: translateX(0);
}
.modal-x3.active[data-position=bottom] {
  transform: translateY(0);
}/*# sourceMappingURL=modal.css.map */